:root {
  --color-primary: #4f46e5;
  --color-text: #ededed;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: #121212;
  color: var(--color-text);
}

button {
  font: inherit;
  color: inherit;
  line-height: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.navbar {
  padding: 1rem 1.5rem;
  max-width: 900px;
  margin: 0 auto;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__logo {
  font-size: 1.5rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-primary);
}

.navbar__btns {
  display: flex;
  gap: 1rem;
}

.genre-chip {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-top: 1.25rem;
}

.genre-chip__container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.genre-chip__chip {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.25rem 1rem;
  font-size: 1rem;
  border-radius: 100px;
  border: 1px solid var(--color-text);
}

.genre-chip__chip--selected {
  background-color: #414141;
  box-shadow: 0px 0px 12px 0px rgba(99, 102, 241, 0.75);
}

.dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.dialog__backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  animation: fade-in 0.15s ease-in forwards;
}

.dialog__content {
  position: relative;
  border-radius: 0.5rem;
  background-color: #1a1a1a;
  z-index: 1;
  animation: slide-in 0.15s ease-in forwards;
}

.input__input {
  border: none;
  border-radius: 0.5rem;
  background-color: #333333;
  font-size: 1.125rem;
  padding: 0.875rem 1rem;
  color: var(--color-text);
  width: 100%;
}

.input__input--search {
  padding-right: 3rem;
}

.input__input::placeholder {
  color: #999999;
}

.input__input:focus {
  outline: 2px solid var(--color-primary);
}

.searchbar__form {
  position: relative;
  padding: 0.75rem;
  width: 100%;
  margin: 1.5rem;
  max-width: 540px;
}

.searchbar__btn {
  position: absolute;
  top: 50%;
  right: 1.375rem;
  transform: translateY(-50%);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    opacity: 0.25;
    transform: scale(0.5) translateY(-100%);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
