<div
  id="add-menu"
  class="popup add-menu hidden"
  role="menu"
  aria-labelledby="add-menu-title"
>
  <div hidden>
    <h2 id="add-menu-title">Add Menu</h2>
  </div>

  <a href="/book/add" class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Book</div>
  </a>

  <a href="/genre/add" class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Genre</div>
  </a>

  <a href="/author/add" class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Author</div>
  </a>
</div>
