<div id="add-menu" class="popup add-menu hidden" role="menu">
  <button class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Book</div>
  </button>

  <button class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Genre</div>
  </button>

  <button class="add-menu__btn" role="menuitem">
    <img src="/assets/icons/add.svg" alt="" width="20" height="20" />
    <div>Add Author</div>
  </button>
</div>
