<div class="dialog hidden" id="delete-dialog" role="dialog" aria-modal="true">
  <form class="popup dialog__content" action="" method="get">
    <h2 class="dialog__title">Delete [test]?</h2>

    <p class="dialog__description">Are you sure?</p>

    <div class="input__wrapper">
      <label class="input__label" for="del_secret_password">
        Secret Password
        <span class="input__asterisk" aria-hidden="true">*</span>
      </label>

      <input
        class="input__field"
        type="password"
        id="del_secret_password"
        name="del_secret_password"
        required
      />

      <div id="del_secret_password_error" class="input__error"></div>
    </div>

    <div class="dialog__btns">
      <button class="btn btn--delete" type="submit">Delete</button>
      <button id="delele-dialog-cancel" class="btn btn--cancel" type="button">
        Cancel
      </button>
    </div>
  </form>

  <div class="dialog__backdrop"></div>
</div>
