<div class="empty-state">
  <div class="empty-state__text">
    <img
      class="empty-state__img"
      src="/assets/images/sad-book.svg"
      alt="A sad book"
    />

    <p class="empty-state__desc"><%= text %></p>
  </div>

  <a class="btn btn--primary btn--block" href="/">Return to homepage</a>
</div>
