<% const isSelected = locals.selectedGenre && typeof locals.selectedGenre ===
"object" && "name" in locals.selectedGenre && typeof locals.selectedGenre.name
=== "string" && locals.selectedGenre.name.trim() !== ""; %>

<div class="genre-chip">
  <div class="genre-chip__container">
    <% if (isSelected) { %>
    <button aria-label="close genre">
      <img src="/assets/icons/close.svg" alt="" width="32" height="32" />
    </button>
    <% } %>

    <button
      id="btn-open-genres"
      class="genre-chip__chip<%= isSelected ? ' genre-chip__chip--selected' : '' %>"
    >
      <%= isSelected ? locals.selectedGenre.name : "Genres" %>
      <img src="/assets/icons/dropdown.svg" alt="" width="24" height="24" />
    </button>

    <%- include("genres-menu", { baseQueryString }) %>
  </div>

  <% if (isSelected) { %>
  <div class="genre-chip__container">
    <button aria-label="edit genre">
      <img src="/assets/icons/edit.svg" alt="" width="28" height="28" />
    </button>

    <button aria-label="delete genre">
      <img src="/assets/icons/delete.svg" alt="" width="28" height="28" />
    </button>
  </div>
  <% } %>
</div>
