<div class="dialog searchbar hidden" id="searchbar">
  <form class="dialog__content searchbar__form" action="/search" method="get">
    <input
      class="input__input input__input--search"
      type="text"
      name="query"
      placeholder="Search"
      required
    />

    <button class="searchbar__btn" aria-label="search">
      <img src="/assets/icons/search.svg" alt="" width="24" height="24" />
    </button>
  </form>

  <div class="dialog__backdrop"></div>
</div>
