<div
  class="dialog searchbar hidden"
  id="searchbar"
  role="dialog"
  aria-modal="true"
>
  <form
    class="popup dialog__content searchbar__form"
    action="/results"
    method="get"
  >
    <% if (selectedGenre) { %>
    <input type="hidden" name="genreId" value="<%= selectedGenre.id %>" />
    <% } %>

    <input
      class="input__input input__input--search"
      type="text"
      name="query"
      placeholder="Search"
      required
    />

    <button class="searchbar__btn" aria-label="search">
      <img src="/assets/icons/search.svg" alt="" width="24" height="24" />
    </button>
  </form>

  <div class="dialog__backdrop"></div>
</div>
